<!DOCTYPE html>
<html>
    <%- include('./partials/headIndexBarraLat')%>
    <body>
        <%- include('./partials/headerConBarraLat')%>
        <%- include('./partials/carruselimagenes')%>
        <%- include('./partials/productosBuscados')%>
        <%- include('./partials/nuevosIngresos')%>
        <%- include('./partials/footer')%>
    </body>
</html>